FORMAT: 1A
HOST: http://nsaid.me/

# The GotoPaws Database API
---------------------------
Below you will find a current list of the available methods on our website API.

## Useful Link
* [GitHub Developer Team](https://github.com/nsaid-team)]

# Group Shelters
Shelters related resources of the **GoToPaws API**

## Shelters Collection [/shelters]
### List all shelters [GET]
+ Response 200 (application/json)

        [{
            "id":"TX1218",
            "name":"Austin Pets Alive!",
            "phone":"512 961 6519",
            "state":"TX",
            "city":"Austin",
            "zip":"78704"
        },{
            "id":"CA5340",
            "name":"Rocket Dog Rescue",
            "phone":"415 786 5566",
            "state":"CA",
            "city":"San Francisco",
            "zip":"94132"
        },{
            "id":"NY2900",
            "name":"ASPCA",
            "phone":"212 876 7700",
            "state":"NY",
            "city":"New York",
            "zip":"10128"
        }]

## Shelter [/shelters/{id}]
A single Shelter object with all its details

+ Parameters
    + id (required, `TX1218`) ...`id` of the Shelter to perform action with. Has example value.

### Retrieve a Shelter [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body
    
            {
                "id":"TX1218",
                "name":"Austin Pets Alive!",
                "phone":"512 961 6519",
                "state":"TX",
                "city":"Austin",
                "zip":"78704"
            }

+ Response 404 (application/json)

    + Body
    
            {"name":"Not Found", "value":"404", "description":"Shelter does not exist"}

# Group Pets
Pets related resources of the **GoToPaws API**

## Pets Collection [/pets]
### List all pets [GET]
+ Response 200 (application/json) 

        