FORMAT: 1A
HOST: http://private-300ca-nsaid.apiary-mock.com/

# GotoPaws
GotoPaws is an API allowing queries of the gotopaws.me data.

## Useful Links
* [GitHub Developer Team](https://github.com/nsaid-team)
* [API Support](http://docs.gotopaws1.apiary.io)

## Response Format
Our API only supports the JSON format.

# Group Pets

## Pets Collection [/pets/]

### Get list of all Pets [GET]
+ Response 200 (application/json)

        {
            "27921188": {
                "pet_size": "L",
                "pet_shelter": "TX1218",
                "pet_pic_large": "bootstrap-3.3.5-dist/img/Pets/rangel.jpg",
                "pet_pic_url": "",
                "pet_url": "Dog_Rangel.html",
                "pet_age": "Young",
                "pet_shelter_url": "Shelter_APA.html",
                "pet_breed": "German Shepherd Dog",
                "pet_name": "Rangel",
                "pet_city_url": "City_Austin.html",
                "pet_id": "27921188",
                "pet_city": "Austin"
            },
            "etc..." : {
                "more attributes..." : "more",
            }
        }


# Group Shelters

## Shelters Collection [/shelters/]

### Get list of all Shelters [GET]
+ Response 200 (application/json)

        {
            "TX1218": {
                "shelter_email": "adopt@austinpetsalive.org",
                "shelter_city_url": "City_Austin.html",
                "shelter_phone": "512 961 6519",
                "shelter_city": "Austin",
                "shelter_url": "Shelter_APA.html",
                "shelter_state": "TX",
                "shelter_id": "TX1218",
                "shelter_pic": "bootstrap-3.3.5-dist/img/Shelters/APA_logo.jpg",
                "shelter_hours": "9 to 5",
                "shelter_address": "1156 West Cesar Chavez",
                "shelter_name": "Austin Pets Alive!"
            },
            {
                "etc..." : "more"
            }
        }

# Group Cities

## Cities Collection [/cities/]

### Get list of all Cities [GET]
+ Response 200 (application/json)

        {
            "San Francisco_CA": {
                "city_vet_url": "http://www.yelp.com/biz/san-francisco-pet-hospital-san-francisco",
                "city_country": "US",
                "city_state": "CA",
                "city_park_pic": "bootstrap-3.3.5-dist/img/Cities/san-franc_park.jpg",
                "city_groomer_url": "http://www.yelp.com/biz/san-francisco-pet-hospital-san-francisco",
                "city_park_url": "www.google.com",
                "city_name": "San Francisco",
                "city_vet_pic": "bootstrap-3.3.5-dist/img/Cities/san-franc_vet.jpg",
                "city_groomer_pic": "bootstrap-3.3.5-dist/img/Cities/san-franc_groomer.jpg",
                "city_url": "City_SF.html",
                "city_pic": "bootstrap-3.3.5-dist/img/Cities/san-franc.jpg"
            },
            "etc..." : {
                "more"
            }
        }


+ Response 404 (application/json)

    + Body
    
            {"name" : "Not Found", "value":"404", "description":"Resource does not exist"}
        
