FORMAT: 1A
HOST: http://private-300ca-nsaid.apiary-mock.com/

# GotoPaws Database API

Below you will find a current list of the available methods on our website API.

## Useful Link
* [GitHub Developer Team](https://github.com/nsaid-team)]
* [API Support](http://docs.nsaid.apiary.io/)

## Resources

+ [Shelters](<http://private-300ca-nsaid.apiary-mock.com/shelters)
+ [Pets](<http://private-300ca-nsaid.apiary-mock.com/pets)
+ [Cities](<http://private-300ca-nsaid.apiary-mock.com/cities)

## Response Format
Our version of the API, only supports a single format: JSON.

# Group Shelters

## Shelters Collection [/shelters]
### Get List of all Shelters [GET]
+ Response 200 (application/json)

        {
            "shelters":
            [
                {
                    "id":"TX1120",
                    "name":"Cat Matchers",
                    "petstype":"cats",
                    "city":"Dallas",
                    "state":"TX",
                    "phone":"972 458 7877"
                },{
                    "id":"CA792",
                    "name":"Grateful Dogs Rescue",
                    "petstype":"dogs",
                    "city":"San Francisco",
                    "state":"CA",
                    "phone":"415 587 1121"
                },{
                    "id":"NJ775",
                    "name":"Lonely Grey Rescue",
                    "petstype":"birds",
                    "city":"Woodbridge",
                    "state":"NJ",
                    "phone":"732 585 5559"
                }
            ]
        }

## Shelter [/shelters/{id}]

A single Shelter object with all its details

+ Parameters
    + id (required, string,`TX1218` ) ...`id` of the Shelter to perform action with. Has example value.

### Get Shelter by id [GET]
+ Response 200 (application/json)
    
            {
                "id":"TX1218",
                "name":"Austin Pets Alive!",
                "phone":"512 961 6519",
                "state":"TX",
                "city":"Austin",
                "zip":"78704"
            }
            
+ Response 404 (application/json)

    + Body
    
            {"name":"Not Found", "value":"404", "description":"Shelter does not exist"}

# Group Pets
Pets related resources of the **GoToPaws API**

## Pets Collection [/pets]
### Get List all pets [GET]
+ Response 200 (application/json)


        