<!DOCTYPE html>
<html lang="en" ng-app = "GoToPaws">
<!-- 
A template for GoToPaws city landing pages.
-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>{{city.city_name}}</title>
    {% load static from staticfiles %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/indiv-cities.css" %}" rel="stylesheet">
    <link href="{% static "css/city_page.css" %}" rel="stylesheet">
    
    <!-- Custom AngularJS -->
    <script type="text/javascript" src='{% static "js/angular.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/templates.js" %}'></script>

    


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <!-- Navigation -->

    <!-- Navbar expansion -->
    <nav-bar ></nav-bar>

    
    <h1>{{city.city_name}}</h1>
    <p> {{city.city_motto}}</p>


        <div id="ahhh" ng-controller ='MyCtrl as ctrl'>

            [{data[0].city_name}]
            [{results}]<br>
            [{results.city_url}]<br>
            [{resultes[0].city_country}]
            [{ctrl.data.city_state}]
            [{test}] test1<br>
 
        </div>

    

    <body>


        <div class="container">
            <!-- Text box expansion with AngularJS. camelCase to hyphen-words is ON PURPOSE -->

            <div class="summary">

                <h2 class="summary-heading">Shelters <span class="text-muted">in {{city.city_name}}</span></h2>

                {% for shelter in city.shelters_list %}

                <a href="{{shelter.shelter_url}}"><img class="summary-image img-suqare img-responsive pull-right" alt="{{shelter.shelter_name}}" src="{{shelter.shelter_pic}}"></a>

                
                <h3> {{shelter.shelter_name}} </h3>
                <div class="text-box">
                    <p class="lead">
                       

                        {{shelter.shelter_description}}
                        
                    </p>
                </div>
                {% endfor %}
            </div>


            <hr class="summary-divider" />

            <div class="summary">
                
                <h2 class="summary-heading">Pets <span class="text-muted">in {{city.city_name}}</span></h2>
                {% for pet in city.pets_list %}
                <a href ="{{pet.pet_url}}"><img class="summary-image img-suqare img-responsive pull-left" alt= "{{pet.pet_name}}" src="{{pet.pet_pic}}"></a>

                <div class="text-box">
                    <p class="lead">
                        Info or no info?
                    </p>
                </div>
                {% endfor %}
                
            </div>

            <hr class="summary-divider" />
            
            <div class="summary">
                <h2 class="summary-heading">Vets <span class="text-muted">in {{city.city_name}}</span>
                </h2>
                {% for vet in city.vets_list %}

                <a href ="{{vet.vet_url}}"><img class="summary-image img-suqare img-responsive pull-right" alt="{{vet.vet_name}}" src="{{vet.vet_pic}}"></a>

                <div class="text-box">
                    <p class="lead">
                        {{vet.vet_description}}
                    </p>
                </div>
                {% endfor %}
            </div>

            <!-- EMBED CITY SPECIFIC MAP HERE -->
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=10&center=30.2672%2C-97.7431&key=AIzaSyDzxvEyxBLPbGafvPwQR9AC3YFLnPk2hWg" allowfullscreen></iframe>
            <hr />

            <footer>
                <p>Copyright &copy; NSAID 2015</p>
            </footer>
        </div>


        
        {% load static from staticfiles %}

        <!-- jQuery -->
        <script src="{% static "js/jquery.js" %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        

    </body>
    </html>
