<!DOCTYPE html>
<html lang="en" ng-app = "GoToPaws">
<!-- 
A template for GoToPaws city landing pages.
-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>{{city.city_name}}</title>
    {% load static from staticfiles %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/3-col-portfolio.css" %}" rel="stylesheet">
    <link href="{% static "css/city_page.css" %}" rel="stylesheet">
    
    <!-- Custom AngularJS -->
    <script type="text/javascript" src="{% static "js/angular.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/templates.js" %}"></script>
    

    <script type="text/javascript">
    var STATIC_URL = '{% static "" %}';
    function static(path) {
        return STATIC_URL + path;}
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <!-- Navigation -->

    <!-- Navbar expansion -->
    <nav-bar></nav-bar>

    <div class="heading">
        <h1>{{city.city_name}}</h1>
        <p> {{city.city_motto}}</p>
    </div>

    <body>


        <div class="container">
            <!-- Text box expansion with AngularJS. camelCase to hyphen-words is ON PURPOSE -->
            <city-shelters></city-shelters>
            <hr class="summary-divider" />

            <city-pets templateUrl='{%static "templates/Pet_fill.html"%}'></city-pets>

            <hr class="summary-divider" />
            <city-vets></city-vets>

            <!-- EMBED CITY SPECIFIC MAP HERE -->
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=10&center=30.2672%2C-97.7431&key=AIzaSyDzxvEyxBLPbGafvPwQR9AC3YFLnPk2hWg" allowfullscreen></iframe>
            <hr />

            <footer>
                <p>Copyright &copy; NSAID 2015</p>
            </footer>
        </div>


        
        {% load static from staticfiles %}

        <!-- jQuery -->
        <script src="{% static "js/jquery.js" %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        

    </body>
    </html>
