<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--3 Col Portfolio - Start Bootstrap Template -->
    <title> GoToPaws </title>
    {% load static from staticfiles %}
    <script type="text/javascript" src="bootstrap-3.3.5-dist/js/angular.min.js"></script>
    <script type="text/javascript" src="{% static "js/sortable.js" %}"></script>
    <script type="text/javascript" src="{% static  "js/shelters.js" %}"></script>
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="bootstrap-3.3.5-dist/css/shelter-table.css" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body ng-app="sheltersPage">
 <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="Home.html">Home</a></li>
                <li ><a href="Pets.html">Pets</a></li>
                <li class="active"><a href="Shelters.html">Shelters</a></li>
                <li  ><a href="Cities.html">Cities</a></li>
                <li><a href="About.html">About</a></li>
            </ul>
            <div class="col-sm-3 col-md-3 pull-right">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>        
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        [["Outside of controller"]]
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Visit a shelter
                   <!-- <small>Item Subheading</small> -->
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                  <img class="img-responsive" src="bootstrap-3.3.5-dist/img/Shelters/ShelterBG.JPG" alt="">
            </div>

            <div class="col-md-4">
                <h3>About Shelters:</h3>
                <p>Looking to adopt? Check the shelters around your area.</h3>
                <ul>
                    <li>Shelters</li>
                    <li>Location</li>
                    <li>Contact Information</li>
                </ul>
            </div>

        </div>
        <br>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">


            <div class="col-lg-12">
                <h3 class="page-header">Find a shelter:</h3>
            </div>

                    <!--Table for Shelters -->

                <table align="center" class="sortable" id="anyid" cellpadding="0" cellspacing="0" ng-controller="ShelterTable as Shelter">
                  

                    <!-- [[Shelter.set_dict(dict)]]   ?????????  -->
                    <br>
                    
                    <thead>  
                      <tr>
                            <th class="unsortable" >Logo:   
                                
                                    [[var dict = {{shelters_list}}]]
                                    [[Shelter.set_dict(dict)]]
                                

                                
                                <!-- [[ Shelter.set_dict(dict) ]] -->
                                [[ Shelter.loaded ]]  </th>
                            <th>Name:</th>
                            <th>City: </th>
                            <th>State:</th>
                            <th>Phone:</th>
                            <th>E-mail:</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      <tr ng-repeat="shelter in Shelter.data">
                            <td><img class="img-responsive portfolio-item" src="bootstrap-3.3.5-dist/img/Shelters/APA_logo.jpg" alt="Austin Pets Alive!"  height="42" width="42"></td>
                            <td><a href="Shelter_APA.html">[[shelter.name + shelter]]</a></td>
                            <td> [[shelter.city]] </td>
                            <td> [[shelter.state]]</td>
                            <td> [[shelter.phone]] </td>
                            <td> [[shelter.email]]</td>
                      </tr>
                      
                      <!--
                      <tr>
                            <td> <img class="img-responsive portfolio-item" src="bootstrap-3.3.5-dist/img/Shelters/muttville_logo_small.jpg" alt=""  height="42" width="42"> </td>
                            <td>  <a href="Shelter_Muttville.html">Muttville Senior Dog Rescue </a></td>
                            <td> San Francisco</td>
                            <td> CA</td>
                            <td> 415-272-4172</td>
                            <td> info@muttville.org</td>                 
                     </tr>
                      <tr>
                            <td><img class="img-responsive portfolio-item" src="bootstrap-3.3.5-dist/img/Shelters/hppl_small_logo.jpeg" alt="" height="42" width="42"></td>
                            <td> <a href="Shelter_HPPL.html"> Homeless Pet Placement League </a></td>
                            <td> Houston</td>
                            <td> Texas </td>
                            <td> 713-862-7387</td>
                            <td> hppl@hppl.org </td>
                      </tr>
                        -->
                    </tbody>
                </table>         

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->



</body>



</html>